.App {
  text-align: center;
  background-color: grey;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.path-square {
    width: 15px;
    height: 15px;
    background-color: green;
}

.path-square.active {
    background-color: #00fe00;
}

.tweet-image {
    max-width: 290px;
    max-height: auto;
}

.location-label {
    position: relative;
    top: 20px;
    left: -25px;
    width: 80px;
    font-size: 18px;
}

.hover-zoom {
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.hover-zoom:hover {
    cursor: pointer;
    transform: scale(1.012, 1.012);
    box-shadow: 0px 0px 5px 2px rgba(0, 0,0,.1);
    filter: blur(0);
    backface-visibility: hidden;
}

.map {
    background-image: url(./media/pixel_usa.svg);
    position: relative;
    height: 600px;
    width: 1050px;
    margin: auto;
}

.legend {
    position: absolute;
    right: 150px;
    top: 150px;
    background-color: rgba(255,255,255,0.2);
    display: flex;
}

.hidden {
  display: none;
}

.legend-labels {
    text-align: right;
}

.legend-values {
    text-align: left;
}

.legend-line {
    display: flex;
}


.legend-label:after {
    content: ": ";
    /*position: absolute;
    top: -8px;
    right: -2px;*/
}

.tweet-box {
  color: #00fe00;
  background-color: black;
  border: 5px solid white;
  border-radius: 3px;
  position: absolute;
  top: 20px;
  min-width: 300px;
  z-index: 1000;
}

.navigation {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigator:hover {
  cursor: pointer;
}

.App-header {
  /*background-color: #222;*/
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-size: 82px;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

@media screen and (max-width: 1050px) and (min-width: 500px) {
  .App-header {
    height: 80px;
    font-size: 50px;
  }

  .App-logo {
    height: 50px;
  }

  .map {
      height: 300px;
      width: 525px;
      background-size: contain;
  }

  .legend {
    top: 50px;
    right: 50px;
  }

  .path-square {
      width: 7px;
      height: 7px;
  }

  .location-label {
      position: relative;
      top: 10px;
      left: -25px;
      width: 70px;
      font-size: 16px;
  }

  .tweet-box {
    position: fixed;
    left: 0px;
    top:451px;
    width: 100%;
  }
}

@media screen and (max-width: 525px) {
  .App-header {
    height: 80px;
    font-size: 50px;
  }

  .App-logo {
    height: 50px;
  }

  .App-logo-second {
    display: none;
  }

  .map {
      height: 150px;
      width: 262px;
      background-size: contain;
  }
  .legend {
    top: 0px;
    right: 0px;
    font-size: 16px;
  }

  .path-square {
      width: 4px;
      height: 4px;
  }

  .location-label {
      position: relative;
      top: 10px;
      left: -22px;
      width: 50px;
      font-size: 14px;
  }

  .tweet-box {
    position: fixed;
    left: 0px;
    top:301px;
    width: 100%;
  }
}
